
*{display:inline-block;}
.q{color: white;}
.w{background-color: white;border-style:  solid;text-align: center; ;border-radius: 20px; background-color: whitesmoke;}



.qq{text-align: center; width: 400px;height: 600px ;;border-style:  solid;border-radius: 20px;background-color: aliceblue;}
